<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
	<div id="container" style="width:100%; height:400px;"></div>
	<script type="text/javascript">
	var chart; //global
	var last_time = '0';
	
	/**
	 * Request data from the server, add it to the graph and set a timeout 
	 * to request again
	 */
	function requestData() {
	    $.ajax({
	        url: '/GET2',
	        success: function(data) {
	        	  var t = data['result'][0]['t'];
	        	  if (t != last_time) {
	        		  last_time = t;
		            var series = chart.series[0],
		                shift = series.data.length > 20; // shift if the series is 
		                                                 // longer than 20
	                 	 var x = data['result'][0]['X'];
	                	 var y = data['result'][0]['Y'];
	                	 var z = data['result'][0]['Z'];
	                 
	        	         var x_point = [t,x];
		                 var y_point = [t,y];
		                 var z_point = [t,z];
		            // add the point
		            chart.series[0].addPoint(x_point, true, shift);
		            chart.series[1].addPoint(y_point, true, shift);
		            chart.series[2].addPoint(z_point, true, shift);
	        	  }
	            // call it again after one second
	            setTimeout(requestData, 1000);    
	        },
	        cache: false
	    });
	}
	
	//draw the chart
	$(document).ready(function() {
	    chart = new Highcharts.Chart({
	        chart: {
	            renderTo: 'container',
	            defaultSeriesType: 'spline',
	            events: {
	                load: requestData
	            }
	        },
	        title: {
	            text: 'Live random data'
	        },
	        xAxis: {
	            type: 'datetime',
	            tickPixelInterval: 150,
	            maxZoom: 20 * 1000
	        },
	        yAxis: {
	            minPadding: 0.2,
	            maxPadding: 0.2,
	            title: {
	                text: 'Value',
	                margin: 80
	            }
	        },
	        series: [{
	            name: 'X data',
	            data: {{ x_all }}
	        },{
	            name: 'Y data',
	            data: {{ y_all }}
	        },{
	            name: 'Z data',
	            data: {{ z_all }}
	        }]
	    });        
	});
	</script>
</body>
</html>
